@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 251;
    --foreground: 55 63 81;

    --card: 255 255 255;
    --card-foreground: 55 63 81;

    --popover: 255 255 255;
    --popover-foreground: 55 63 81;

    --primary: 0 141 213;
    --primary-foreground: 255 255 255;

    --secondary: 55 63 81;
    --secondary-foreground: 255 255 255;

    --muted: 235 235 235;
    --muted-foreground: 55 63 81;

    --accent: 245 100 118;
    --accent-foreground: 255 255 255;

    --destructive: 0 81 60;
    --destructive-foreground: 255 255 255;

    --border: 229 231 235;
    --input: 229 231 235;
    --ring: 0 141 213;

    --radius: 0.5rem;
  }
}

.dark {
  --background: 20 20 20;
  --foreground: 250 250 250;

  --card: 28 28 28;
  --card-foreground: 250 250 250;

  --popover: 28 28 28;
  --popover-foreground: 250 250 250;

  --primary: 0 141 213;
  --primary-foreground: 255 255 255;

  --secondary: 40 40 40;
  --secondary-foreground: 250 250 250;

  --muted: 40 40 40;
  --muted-foreground: 163 163 163;

  --accent: 245 100 118;
  --accent-foreground: 255 255 255;

  --destructive: 127 29 29;
  --destructive-foreground: 250 250 250;

  --border: 40 40 40;
  --input: 40 40 40;
  --ring: 0 141 213;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}